{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}

    {% for label, messages in app.flashes() %}
        {% for message in messages %}
            <div class="alert alert-danger" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <div class="example-wrapper">

        {{ include('_navigation.html.twig') }}
        <br/>

        <p>Profile page for {{ user }}</p>


        {% if oauthClient %}
            <table>
                <thead>
                <tr>
                    <th>Identifier</th>
                    <td>{{ oauthClient.identifier }}</td>
                </tr>
                <tr>
                    <th>Secret</th>
                    <td>{{ oauthClient.secret }}</td>
                </tr>
                <tr>
                    <th>Scope</th>
                    <td>{{ oauthClient.scopes|join(',') }}</td>
                </tr>
                <tr>
                    <th>Redirect URI</th>
                    <td>{{ oauthClient.redirectUris|join(',') }}</td>
                </tr>
                <tr>
                    <th>Grant type</th>
                    <td>{{ oauthClient.grants|join(',') }}</td>
                </tr>
                <tr>
                </thead>
                
            </table>
        {% else %}
            {{ 'No oauth data yet. Use the form below' }}
        {% endif %}

{{ form(form) }}

    </div>
{% endblock %}
