{% extends 'base.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}

{% block body %}

<div class="example-wrapper">

    {{ include('_navigation.html.twig') }}
    <br/>
<h1>Hello</h1>


</div>
{% endblock %}
